<div class="bg-primary p-2 text-white"
  [class.bg-warning]='editing'
  [class.text-dark]='editing'>
  <h5>{{ editing ? 'Edit' : 'Add'}} Movie</h5>
</div>
<form novalidate #form='ngForm' (ngSubmit)='save(form)'>

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]='movie.title'>
  </div>

  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" name="director" [(ngModel)]='movie.director'>
  </div>

  <div class="form-group">
    <label>Published</label>
    <input type="text" class="form-control" name="releaseDate" [(ngModel)]='movie.releaseDate'>
  </div>  

  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" name="price" [(ngModel)]='movie.price'>
  </div>

  <button type='submit' class="btn btn-primary m-1" [class.btn-warning]='editing'>
   {{ editing ? "Save" : "Add" }}
  </button>
  <button type='reset' class="btn btn-secondary" routerLink='/admin/movies'>
     Cancel
  </button>
</form>

