<div>
<app-header></app-header>
    <div class="container m-5">
        <div class="d-flex" >
            <div class="m-2">
                <select class="" (click)='handleChangeDirector($event)'>
                    <option value = ''>All Directors</option>
                    <option *ngFor='let director of directors' class=""
                    [class.active] = 'director == selectedFilter' >{{director}}</option>
                </select>
            </div>
            <div class="m-2">
                <select class="" (click)='handleChangePrice($event)'>
                    <option value = ''>All Prices</option>
                    <option *ngFor='let price of prices' class=""
                    [class.active] = 'price == selectedFilter' >{{price}}</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div *ngFor='let movie of movies' class="Movielist col" style="max-width: 250px;">
                <div [ngClass]="{'visually-hidden': hidden, '': !hidden}" >
                    <p>Synopsis:</p>
                    <p>{{movie.overview}}</p>
                </div>
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <img src="assets/images/{{movie.posterUrl}}" alt="poster" style="min-width: 200px; max-width: 100%;" (mouseout)="mouseOut()" (mouseover)="handleMouseOver($event)">
                    <div class="d-flex flex-column align-items-center">
                        <h4 class="m-1">{{movie.title }}</h4>
    
                        <h4 class="badge text-bg-success m-2">{{movie.price | currency: 'USD':'symbol':'1.2-2'}}</h4>
    
                        <button class="btn btn-info m-1" (click)="addMovieToCart(movie)">Add to Cart </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <select class="" [value] = 'moviesPerPage' (change) = "handleChangePageSize($event)">
    <option value="3">3 values per page</option>
    <option value="9">9 values per page</option>
    <option value="15">15 values per page</option>
    <option value="21">21 values per page</option>
    </select>
    
    <button
    *counter="let page of pageCount" (click) = 'changePage(page)' class="" [class.active]="page==selectedPage"> {{page}}
    </button>
</div>

            
            
   
