<button class="btn btn-primary ms-5" (click)='addMovie()'>
  Add New Movie
</button>
<table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Release Date</th>
        <th>Poster </th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let m of movies'>
        <td>{{ m.title }}</td>
        <td>{{ m.director }}</td>
        <td>{{ m.releaseDate }}</td>
        <td>{{ m.posterUrl }}</td>
        <td>{{ m.price | currency: 'USD': 'symbol': '2.2-2'}}</td>
        <td>
          <button class="btn btn-sm btn-primary m-1" *ngIf="m._id !== undefined" (click)="editMovie(m._id)">
             Edit
          </button>
        </td>
        <td>
          <button class="btn btn-sm btn-danger m-1" *ngIf="m._id !== undefined" (click)="deleteMovie(m._id)">
             Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>


